* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 6rem auto;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.wrapper h2 {
    font-weight: 800;
    font-size: 54px;
}
.wrapper div {
    width: 50%;
}

.wrapper p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.mx-auto {
    margin: 1rem auto;
    text-align: center;
}
