* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 6rem auto;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.wrapper h2 {
    font-weight: 800;
    font-size: 54px;
}
.wrapper div {
    width: 50%;
}

.p-font {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.mx-auto {
    margin: 1rem auto;
    text-align: center;
}
.mt-1 {
    margin-top: 1rem;
}
.w-80 {
    width: 80%;
}
.w-70 {
    width: 70%;
}
.text-left {
    text-align: left;
}
.p-left {
    padding-left: 20px;
}

.grey {
    background: #f1f1f1;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
li {
    line-height: 1.6;
    font-size: 18px;
}
.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.mini-container {
    width: 70%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.img-cont {
    width: 100%;
    height: 300px;
    position: relative;
}
.img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.img-cont::after {
    content: "What's More?";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    left: 0;
    background-image: linear-gradient(to top, #00008b, 60%, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.text-cont {
    padding: 2rem;
}

ol li {
    padding-left: 10px;
}

@media (max-width: 750px) {
    .section {
        margin: 4rem auto;
    }
    .wrapper {
        width: 90%;
        flex-direction: column;
    }
    .wrapper div {
        width: 100%;
    }
    .wrapper h2 {
        font-weight: 600;
        font-size: 34px;
    }
    .w-80,
    .w-70 {
        width: 90%;
    }
    .mini-container {
        width: 90%;
    }
    .img-cont {
        height: 200px;
    }
    .img-cont::after {
        font-size: 30px;
    }
    .text-cont {
        padding: 2rem 1rem;
    }
}
